<% layout('layout/boilerplate') %>

    <div class="hero-container">
        <div class="hero-column__left">
            <div class="text-container">
                <h1 class="hero-header">A PLACE TO FIND
                    <span class="hero-span"> LOVE</span>
                </h1>
                <p class="hero-paragraph">Welcome to 4 Stud friendly dog dating app for your lovely puppies. Let them
                    find the
                    love of their playful
                    life</p>
                <p class="hero-paragraph__sm">Friendly Dog <br> Dating App</p>

                <a href="/register" class="btn btn-join">

                    <div class="btn-text">JOIN NOW</div>

                </a>

                <a href="/register" class="btn-heart"></a>


            </div>

        </div>
        <div class="hero-column__right">
            <div class="hero-img"></div>
        </div>
    </div>
    <!-- <script>
        const colLeft = document.querySelector('.hero-column__left');
        const colRight = document.querySelector('.hero-column__right');
        console.log(colLeft.offsetHeight);
        console.log(colRight.offsetHeight);

        let height = colLeft.offsetHeight;
        colRight.style.height = `${height}px`;
        console.log(colRight.offsetHeight, 'after');
    </script> -->