:root{
    --gap: 3vw ;
    --padding: 5vw;
    /* --fraction: calc(((100vw - 2 * var(--padding)) / 12) - var(--gap) );
    --fraction: 4.833vw; */
    --fraction: calc(((100vw - 2 * var(--padding)) - (11 * var(--gap))) / 12);
    --color-main: #FFCC81;
    --color-pink: #F99192;
    --color-navy: #3C434D;
    --border-debug: 1px solid black;
    font-family: 'Nunito';

   
}
a{
    color:  black;
    appearance: none;
}
h2{
    color: white;
    font-size: 26px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}
body{
    background-color: var(--color-main);
}
.alert-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.938);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.alert{
    width: 50vw;
    height: 20vh;
    background-color: white;
    background-color: var(--color-pink);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 4px solid #565772;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.623);
   

    
    
}
.alert >h2{
    color: #565772 ;
}
.alert-close{
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #565772 ;
    cursor: pointer;
   
}


a{
    text-decoration: none;
    /* color: #FFFFFF; */
}
.flash{
    height: 40px;
    width: 100vw;
    background-color: #fcb1b3;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.error{
    background-color: #DD7F41;
}
 .pregrid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.grid{
    padding: 0  var(--padding);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 700px;
    justify-content: space-between;
    gap: 0;
    border: 1px solid black;
   
    
}
.grid-item{
    height: 100%;
    width: var(--fraction);
    
    background-color: #f991933f;
   
}
.grid-gap{
    height: 100%;
    width: calc(var(--gap) );
    
    background-color: #f70b0f00;
   
} 


.navbar-container{

/* position: fixed; */
width: 100vw;
height: 56px;
/* left: 0px;
top: 0px; */
background: #3C434D; 
padding: 0  var(--padding);

}
.footer{
    width: 100vw;
    height: 70px;
    background-color: #3C434D;
}



.navbar {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

width: calc(100vw - (2 * var(--padding)));
height: 56px;
/* border: 1px solid black; */


}


.menu{
    position: fixed;
    top: 0;
    right: -30vw;
    height: 100vh;
    width: calc( var(--padding) + (4 * var(--fraction)) + (4 * var(--gap)) )   ; 
    background-color: #f9919371;
    background-color: #565772ea;
    backdrop-filter: blur(5px);
    z-index: 500;
}
.menu-items{
    /* display: flex; */
    /* border: 1px solid black; */
    margin-top: 10vh;
    
}
.menu-item{
    color: white;
    font-size: 36px;
    width: 100%;
    height: 56px;
    text-align: center;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: var(--gap);
    align-items: center;
    cursor: pointer;
}
.menu-item:hover{
    background-color: #fcb1b3;
}
.menu-icon{

    font-size: 30px;
}
.menu-text{
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 20px;
}
.menu-close{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    color: white;
    height: 56px;
    width: 40px;
    font-size: 36px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
    /* border: 1px solid black; */
}
/* ANIMATION */

.slide-left {
	        animation: slide-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-right {
	        animation: slide-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-4 17:15:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */


  @keyframes slide-left {
    0% {
     
              transform: translateX(0);
    }
    100% {
        
                transform: translateX(-30vw);
      }
  }
  @keyframes slide-right {
    0% {
      
              transform: translateX(0);
    }
    100% {
        
                transform: translateX(30vw);
      }
  }
  
  .hide{
    display: none !important;
}


/* END OF ANIMATION */


.buttons{
    display: flex;
    justify-content: space-between;
    /* border: red solid 2px; */
   
    gap: var(--gap);
   
    /* width: calc((3 * var(--fraction)) + (2 * var(--gap)) ); */
    width: calc(240px + var(--gap));
    width: 250px;
    
}

.user-icon{
    font-size: 26px;
    color: white;
    /* height: 40px;
    width: 40px; */
    /* border: 1px solid black; */
    margin-top: 1vh;


}



.hamburger {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40px  ; 
    height: 40px;
    background: #ffffff00;
    border: 3px solid white;
    border-radius: 8px;
    /* border: 1px solid black; */
    cursor: pointer;
    
}


.hamburger-line{
    
    width: 70%;
    margin: 3px;
    height: 2px;
    background: #F99192;
    background: white;
    border-radius: 12px;
}


.btn-create__mobile{
    display: none;
}

.btn {

width: calc((2 * var(--fraction) + var(--gap)));
width: 160px;
height: 40px;
border: none;


background: #F99192;
color: #FFFFFF;
border-radius: 8px;
cursor: pointer;
/* border: 1px solid black;} */
/* box-shadow: 2px 9px 8px -4px rgba(0,0,0,0.75); */
}
.btn:hover{
    background-color: white;
    color: #F99192;
    border: 2px solid #F99192;
}

 .btn-text {
/* width: 155.32px; */
/* height: 29.65px; */

margin-top: 10px;
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: calc(0.30 * var(--fraction));
font-size: 20px;
line-height: 33px;
line-height: 20px;
/* letter-spacing: 0.18em; */
text-align: center;



}

.showResults{
    display: none;
}


.logo-container 

{
width: 287px;
height: 56px;
display: flex;
flex-direction: row;
gap: 0;
cursor: pointer;
/* border: 1px solid black; */
}



.logo-text 

{
width: calc((2 * var(--fraction)) + var(--gap));
height: 40px;



font-family: 'Nunito';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 65px;
letter-spacing: 0.195em;
margin-top: -2px;

color: #FFFFFF;}



 .logo-img  {
   
width: 40px;
height: 40px;
/* margin-right: 30px; */
margin: auto 0;


background: url(../img/logo.svg);
background-size: contain;
background-repeat: no-repeat;
/* border: 1px solid black; */


}



/* HOME PAGE */

.hero-container{
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    /* height: calc(100vh - 56px - 70px); */
    min-height: calc((100vh - 56px - 70px) );
    /* gap: 0; */
  
}
.hero-column__left{

    width: calc( var(--padding) + (4 * var(--gap)) + (5 * var(--fraction)))  ; 

    background-color: white;
    display: flex;
    flex-direction: column;
  
    min-height: calc((100vh - 56px - 70px) );

}
.text-container{
   
    height: auto;
   
}
.hero-header{
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 900;
   font-size: 36px;
   line-height: 49px;
   letter-spacing: 0.485em;
   color: #565772;
   margin-left: var(--padding);
   margin-top: 10vh;


}
.hero-span{
    font-weight: 500;
}
.hero-paragraph__sm{

  display: none;
}
.hero-paragraph{



font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 33px;
letter-spacing: 0.405em;
margin-left: var(--padding);
margin-right: var(--gap);
margin-top: var(--gap);
color: #3C434D;


}
.btn-join{
    margin-left: var(--padding);
    margin-top: var(--gap);
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.hero-column__right{

    width: calc( var(--padding) + (7 * var(--fraction)) + (7 * var(--gap)) )   ; 
    background-color: var(--color-main);   
    min-height: calc((100vh - 56px - 70px) );
}
.hero-img{
    max-width: 100%;
    min-height: calc((100vh - 56px - 70px) ); 
    /* margin: 0 var(--padding); */
    background: url(../img/hero.svg);
    background-size:contain;
    background-repeat: no-repeat;
   background-position: right;

}

/* END OF HOME PAGE */


/* FORM */

.form-container{
    width: 100vw;
    min-height: calc(100vh - 56px - 70px);
   
    background: url(../img/form-bg-lg.svg) ;
    
    
   
    background-color: #FFCC81;
    background-size: contain;
    background-repeat: no-repeat;
   
    background-position: bottom;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blur{
    /* border: 1px solid black; */
    width: 100vw;
    
    min-height: calc(100vh - 56px - 70px);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-outer{
    width: 60vw;
    /* backdrop-filter: blur(5px); */
    
   
    /* min-height: 77vh; */
    background-color: #F99192;
    background-color: #f99193c0;
  
    /* background-color: var(--color-navy) ; */
    /* background-color: #FFCC81; */
       /* background-color: #ffcd81a1; */
  
    border-radius: 16px;
    margin: 0 auto;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    padding: 10px;
    -webkit-box-shadow: -5px 5px 8px -1px rgba(0,0,0,0.73); 
box-shadow: -5px 5px 8px -1px rgba(0,0,0,0.73);
}
.form-inner{
   
    /* min-height: 70vh; */
    background-color: rgba(255, 255, 255, 0.411);
   
    /* background-color: white; */
    background-color: var(--color-main);
    background-color: #565772c4;
    
    margin: 0 auto;
    margin-top: 35px;
    /* border: 1px solid black; */
    border-radius: 12px;
    padding: 27px;
}
.form{
    width: 30vw;
    /* height: 100%; */
    margin: 0 auto;
    /* border: 1px solid black; */
    color: #565772;
    color: white;
    text-align: center;
    padding: 10px;
}
.form-fields{
    /* border: 1px solid black; */
    margin-top: 20px;
    
   
   
}
.form-field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
    margin-bottom: 20px;
   
}
.form-step{
  
    /* border: 1px solid black; */
   width: 90%;
   margin: 0 auto;
   overflow: hidden;
   /* min-height: 60vh; */
   
  
   /* background-color: white; */
   color: white;
   
   
}
.form-step-label{
    font-weight: 900;
    color: white;
    font-size: 26px;
}
@keyframes grow {
	0% {
		/* opacity: 0; */
		width: 10px;
	}

	100% {
		
		width: calc((100% / 5) - 1px);
	}
}
.progress-bar{
    display: flex;
    background-color: white;
    width: calc(50vw + 8px);
    width: 100%;
    height: 10vh;
    gap: 2px;
    justify-content: left;
}
.progress-bar__progress{
    width: calc((100% / 5) - 1px);
    height: 10vh;
    animation: grow 3s ease 0s 1 normal forwards;
}
._20{
    background-color: var(--color-pink);
    opacity: 20%;

}
._40{
    background-color: var(--color-pink);
    opacity: 40%;

}
._60{
    background-color: var(--color-pink);
    opacity: 60%;

}
._80{
    background-color: var(--color-pink);
    opacity: 80%;

}
._100{
    background-color: var(--color-pink);
    /* opacity: 60%; */

}

/* .step-2{
    display: none;
} */
label{
    text-align: left;
    font-size: 20px;
    
}
input{
    /* background-color: #ffcecf; */
    font-size: 20px;
}
input:focus{
    /* outline: none; */
    outline: 1px solid #3C434D;
    /* background-color: #DD7F41; */
}
textarea:focus{
    outline: 1px solid #3C434D;

}
.form-navigation{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: white;
}
.form-navigation-btn{
    /* border: 1px solid black; */
    width: 13vw;
    /* background-color: var(--color-pink); */
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}
.form-navigation-btn__submit{
    border: 4px solid white !important;
    width: 15vw;
    font-size: 26px;
    font-weight: 900;
    background-color: var(--color-main) !important;
    color: #FFFFFF;
    
}
.form-navigation-btn__success{
    background-color: var(--color-main);
}

/* checkboxes */

input[type='checkbox']{
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background-color: var(--color-navy);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .0s;
    cursor: pointer;
    transform: translateY(8px);
    margin-bottom: 4px;
    
}
input[type='checkbox'] ~ label{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 16px;

}
input:checked[type='checkbox']{
    background-color: var(--color-main);
}
input[type='checkbox']::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: var(--color-pink);
    transform: scale(1.1);
    transition: .0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

}
input:checked[type='checkbox']::before{
    left: 20px;
}
.custom-search{
    display: flex;
    border: 1px solid var(--color-navy);
    border-radius: 12px;
    align-items: center;
   
    
   
    padding: 8px;
    gap: 8px;
    height: 55px;
}

.custom-search >i{
    font-size: 20px;
    color: var(--color-main) !important;
   
}
#search_input{
    border: none;
    width: 70%;
  
    font-size: 18px;
   
    margin: 0 !important;
    /* margin-top: 2px; */
    /* border: var(--border-debug); */
   

}
#search_input:focus{
   outline: none;
}
#search{
    border: none;
    width: 70%;
  
    font-size: 18px;
   
    margin: 0 !important;

}
#search:focus{
    outline: none;
 }
.search-mobile{
    display: none;
}

  

  

 

/* end of checkboxes */



/* EXP */



.radio-wrap{
    display: flex;
    align-items: center;
    gap:10px;
    /* border: 1px solid black; */
    width: 60vw;
    margin:  10px 0;
}
.radio-input{
    appearance: none;
    margin: 0;
    font: inherit;
    color: white;
    width: 20px;
    height: 20px;
    border: 0.15em solid white;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

}

.radio-input::before{
    content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

.radio-input:checked::before {
    transform: scale(1);
  }
/* END EXP */

/*END OF FORM */

.show-main{
    width: 100vw;
    display: flex;
    gap: var(--gap);
   
    padding: 0 var(--padding);
    justify-content:space-between;
   align-items:center;
   
}
/* .carousel-label{
    position: absolute;
    top: -44px;
    width: 100%;
    height: 44px;
    background-color: white;
    
} */
.heart-position{
    position: absolute;
    top: 8px;
    left: 8px;

}
.ad-edit{

    position: absolute;
    top: 8px;
    right:32px;
    color: var(--color-pink);
    font-size: 20px;
    cursor: pointer;

}
.ad-edit__form{
    position: absolute;
    padding: 32px;
    padding-top: 16px;
    top: 0;
    left: 0;
    /* transform: translate(-50% ,-50%); */
    background-color: white;
    border: 1px solid var(--color-navy);
    border-radius: 8px;
   
    width: 100%;
    height: 100%;


}
 .heart-container{
    color: var(--color-pink);
   
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    appearance: none;
    cursor: pointer;
    border: none;
    background-color: white;
   
} 
.heart-container  p{
    font-size: 20px;
    text-transform: capitalize !important;
    font-family: 'Nunito Sans'
}
.user-interaction-container{
    width: calc((3 * var(--fraction)) + 3 * var(--gap) );;
    width: calc(240px + var(--gap) * 2);
    width: 250px;
    
    /* height: 80vh; */
    /* background-color: white; */
    margin-top: var(--gap);
   
   
}
.message-button{
    width: 100%;
    height: 44px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-details{
    display: flex;
    align-items: center;
    gap: var(--gap);
   
}
.user-i{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
.user-circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-circle >i {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: -8px;
}

.user-info{
    width: 100%;
    /* height: 40vh; */
    background-color: white;
    border-radius: 12px;
    margin-top: var(--gap);
    padding: 16px;
}
.user-i >p{
    text-align: center;
    font-weight: 900;
    text-transform: capitalize;
}
.user-ads{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--gap);
    color: var(--color-navy);
    text-align: center;
}
/* .user-ads{
    border: 1px solid var(--color-navy);
    font-size: 20px;
    width: 100%;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: var(--gap);
    font-family: 'Nunito Sans';
    color: white;
    background-color: var(--color-navy);
    height: 44px;
    margin-top: 24px;
   
 } */
.user-ads>a{
    text-align: center;
    color: var(--color-navy);
}

.carousel-container{
   
    width: calc(100% - var(--gap)  - 250px);

  
    height: 80vh;
    background-color: var(--color-navy);
    margin-top: var(--gap);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;
   
    
    

}

.carousel{
    width: 90%;
    height: 100%;
   
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
.carousel-navigation{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 26px;
   

}
.carousel-navigation:hover{
    color: var(--color-main);
    cursor: pointer;
}
.carousel-previous{
   
    
    left: var(--gap);
}

.carousel-next{
  
   
    right: var(--gap);
}
.carousel-img{
    height: 100%;
    width: auto;
}
.description-container{
   width: 100vw;
   padding:  var(--padding);
   display: flex;
   justify-content: left;
   align-items: center;
   position: relative;
  
  
}
.description{
    width: calc(100% - var(--gap)  - 250px);
    min-height: 40vh;
    background-color: white;
    border-radius: 12px;
    padding: 32px;
    position: relative;
    border: var(--border-debug);
}
.description  h3{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 1vh;
    margin-top: var(--padding);
}
.description__details{
    display: flex;
    justify-content: space-between;
}
.description__details > p {
    font-weight: 900;
    font-family: 'Nunito Sans'
    
}
.description__details > p > span {
    font-weight: 500 ;
    text-transform: capitalize;
    font-family: 'Nunito Sans'
    
}
.description__breed{
    text-align: left;
    width: 100%;
   
    margin-top: 8px;
}
.description__breed >p{
    font-weight: 900;
}
.description__breed span {
    font-weight: 500;
    text-transform: capitalize;
}
.description__description{
    margin-top: var(--gap);
    
}
.description__description p{
    font-family: 'Nunito Sans'
}
.location{
    display: flex;
    /* border: 1px solid black; */
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.location-icon{
    font-size: 16px;
    color:var(--color-navy);
    margin-top: -2px;
}
.location-icon p {
    font-family: 'Nunito Sans';
    font-weight: 400;
}
/* ALL ADS SEARCH */

.all-ads-container{
    display: flex;
    padding: var(--padding);
    gap: 5vw;
  

   
}
.search-filter{
    display: none;
}

.all-ads-container__left{
    
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    height: 100%;
    position: relative;
   
   
   
  

}
.search-clear{
    color: var(--color-main);
    position: absolute;
    top: 16px;
    right:8px;
    font-size: 20px;
}
.unhide{
    display: block;
}
.all-ads-container__left h2{
    color: black;
    margin-bottom: var(--gap);
}
.all-ads-container__left h3{
    color: black;
    margin-bottom:8px;
    font-size: 20px;
    margin-top: 16px;

}
.search-input__all{
    margin-bottom: 8px;
   

}
.all-ads-container__right{
    /* border: 1px solid black; */
    display:  flex;
    flex-direction:  column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:var(--gap);
    /* border: var(--border-debug); */
  
}
.all-ads-container__right h1{
    font-size: 44px;
    
   
}
.all-ads-container__right h4{
   color: gray;
   font-weight: 400;
   font-size: 20px;
   font-family: 'Nunito Sans';
    
   
}
.ad-mini{
    width: 60vw;
    height: 40vh;
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    gap: 3%;
}
.ad-mini__picture-container{
    height: 100%;
    width: 30%;
    background-color: var(--color-navy);
    display: flex;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
   
   


}
.ad-mini__picture-container__background{
    width: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
.ad-mini__picture-container__picture{
    height: 100%;
    width: auto;
   

}
.ad-mini__content-container{
    height: 100%;
    width: 70%;
    /* background-color: #DD7F41; */
    padding: 5px;
    position: relative;
}
.ad-mini__content-container h3{
    text-transform: capitalize;
}
.ad-mini__content-container h3:hover{
    color: var(--color-pink);
}
.ad-mini__details{
    display: flex;
    gap: 5px;
    font-family: 'Nunito Sans';
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}
.ad-mini__details  p{
    text-transform: capitalize;
   
}
.ad-mini__description{
    font-size: 16px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.ad-mini__user-details{
    width: 90%;
    height: 30%;
    border-top: 1px solid #e9eff6;
    position: absolute;
    bottom: 0;
   
}
.ad-mini__user-content{
    margin-top: 8px;
    display: flex;
    gap: 8px;
    
   
    /* border: 3px solid black; */
    justify-content: flex-start;
   
}
.mini{
    height:40px;
    width: 40px;
}
.mini i {
    font-size: 20px;
    margin-top: 1px;
}
.color-gray{
    /* font-family: 'Nunito Sans' ; */
    color: gray !important;

}
.heart-container-sm{
  
    /* border: 1px solid black; */
    align-self: center;
    margin-left: auto;
   
}
.gap-sm{
    gap: 5px !important;
}



/* END OF ALL ADS SEARCH */


/* CHAT */
 .chat-close{
   font-size: 26px;
   
   font-weight: 900;
   position: sticky;
   display: block;
   top: 0;
   left: 0;
   cursor: pointer;
  
   z-index: 100;
   width: 30px;
}
.chat-close a{
    color: var(--color-navy);
}

.chat-container{
    width: calc(100vw - (2* var(--padding)));
    height: 90vh;
    background-color: white;
    /* overflow: scroll; */
    /* position: relative; */
    display: flex;
    margin: 5vh auto;
    gap: var(--gap);
    padding: 16px;
    border-radius: 16px;
    border: 4px solid var(--color-navy);
   
}
.chat__noselection{
    font-size: 30px;
  
    color: var(--color-navy);
    position: absolute;
    top: 0;
    left: calc(100% + var(--gap));
    /* border: 1px solid black; */
    width: 140%;
    text-align: center;

}
.chat-container__left{
    position: relative;
    width: 40%;
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    /* overflow: scroll;
    overflow-x: auto; */
    border: 2px solid var(--color-navy);
    height: 100%;
   
   
}
.chat-container__right{
    width: 100%;
    /* border: var(--border-debug); */
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
   
}
.chat-body__container{
    border-radius: 8px;
    background-color: white;
    /* width: calc(12* var(--fraction)); */
    overflow: scroll;
    overflow-x: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 90%;
    /* margin-bottom: var(--gap); */
    border: 2px solid var(--color-navy);
    border-radius: 8px;
    scrollbar-color: var(--color-navy) white;
    scrollbar-width: thin;
    /* background-color: #DD7F41; */
  
   

}
.chat-channel{
  
    height: 70px;
    margin-bottom: 16px;
    
    display: flex;
    gap: 10px;
    color: var(--color-navy);
    padding: 10px;
    border: 1px solid var(--color-navy);
    border-radius: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   

}
.chat-test{
    /* border: 2px solid black; */
    width: 60%;
    position: relative;
    display: flex;
    gap: 8px;
    align-items: flex-start;
  
}
.chat-test-messages{
    /* border: 1px solid black; */
    width: 100%;
}
.mini-circle{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: var(--color-main);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 2px;
    /* position: absolute;
    top: 0;
    left: -20px; */
    color: white;
}
.chat-testy-from_user{
    /* background-color: #DD7F41; */
    align-self: flex-end;
}
.chat-channel:hover{
   transform: scale(1.02);
   
   
}
.chat-channel:active{
    transform: scale(1);
    
}
.chat-channel__active{
    background-color: var(--color-pink) !important; 
  
   
    border: 1px solid var(--color-navy);
    border-radius: 16px;
    /* border-bottom: 2px solid white;
    border-top: 2px solid white; */
    /* transform: scale(1.05); */
 
    

}
.chat-channel__info{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.chat-channel__username {
    text-transform: uppercase;
    color: var(--color-navy);
    
}
.chat-channel__msg-short{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    margin-top: 12px;
    font-size: 12px;
}
.chat-channel__date {
    font-size: 12px;
}

.chat-body{
    background-color: #fcb1b3;
    min-width: 60%;
    /* min-height: 32px ; */
    margin-bottom: 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding:   32px 16px;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 70% 75%, 0% 75%); */
    align-self: flex-start;
    border-radius: 8px;
    color: white;
    position: relative;
    font-size: 16px;
   
  
}
.chat-body__date{
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    font-size: 12px;
}
.chat-channel__user-circle{
    border-radius: 50%;
    background-color: var(--color-main);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.chat-channel__letter{
    width: 20px;
    height: 20px;
    /* border: 1px solid white; */
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
   
   
    /* border: 1px solid black; */

}
.from-user{
    background-color: var(--color-navy)!important;
    align-self: flex-end;
}
.chat-form{
    display: flex;
    /* border: 1px solid black; */
    gap: 10px;
}
.chat-form__msg{
   border: 2px solid var(--color-navy);
   border-radius: 8px;
   width: calc(6 * var(--fraction));

}
.chat-form__btn{
    width: calc(2* var(--fraction));
   
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-navy);
    outline: none;
    border: none;
    color: white;
    text-transform: uppercase;

}



/* END OF CHAT */


@media (max-width:1200px){
    :root{
        --gap: 3vw;
        --padding: 5vw;
        /* --fraction: 5.35vw */
    }  
    .hero-header{
        margin-top: 5vh;
    }
    .btn-join{
        margin-top: 3vh;
    }
    .form-outer{
        width: 80vw;
    }
    /* .carousel-container{
        width: calc((12 * var(--fraction)) + 11 * var(--gap) );
       
    
    } */
   
  
    
    
    
}
@media (max-width:970px){
    :root{
        --gap: 1.4vw;
        --padding: 3vw;
      
    }
    .hero-column__left{
        width: calc( var(--padding) + (5 * var(--gap)) + (6 * var(--fraction)))  ; 

    }
    .hero-column__right{
        width: calc( var(--padding) + (6 * var(--fraction)) + (6 * var(--gap)) )   ; 


    }
    .hero-img{
        background: url(../img/hero-md.svg);
        background-size:contain;
        background-repeat: no-repeat;
       background-position: right;
    }
    .hero-header{
        font-size: 30px;
        font-size: 26px;
        margin-top: 7vh;
    }
    .btn-join{
        margin-top: 5vh;
    }
    .form-outer{
        width: 85vw;
    }
    .form-navigation-btn{
        width: 25vw;
    }
    
    .radio-wrap > label{
        font-size: 16px;
    }
    .form-navigation-btn__submit{
        font-size: 16px;
    }
    .show-main{
        width: 100vw;
       
        flex-direction: column;
        margin-top: 5vh;
       
      
       
       
    }
    .user-interaction-container{
        
       width: 100%;
        
        /* min-height: 40vh; */
       
       
        margin-top: 4vh;
        padding-top: 0;
       
       
    }
  
    .carousel-container{
       
       width: 100%;
      
        height: 60vh;
       
       
        
        
    
    }
    
    .user-details{
        justify-content: left;
    }
    .user-info{
      margin-top: 5.5vh;
    }
    .user-i{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
 
    .user-ads{
       border: 1px solid var(--color-navy);
       font-size: 20px;
       width: 100%;
       border-radius: 12px;
       margin: 0 auto;
       margin-top: var(--gap);
       font-family: 'Nunito Sans';
       color: white;
       background-color: var(--color-navy);
       height: 44px;
       margin-top: 24px;
      
    }
    .description-container{
        padding-top: 0;
        margin-top: calc(11vh + 44px);
        margin-bottom: 11vh;
    }
    .description{
        width: calc(100% - var(--gap)  - 250px);
        width: 100%;
        margin-top: 0vh;
       
       
    }
    .search_p__desktop{
        display: none;
    }
    .all-ads-container{
        justify-content: center;
       
        width: 100vw;
    }

    .all-ads-container__left{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        /* height: 50vh; */
       overflow: scroll;
        z-index: 100;
        display: none;
       
      
    }
    .all-ads-container__right{
        display: block;
        /* display: none; */
       
        width: calc(100vw - (2 * var(--padding)));
       
    }
    .search-filter{
        display: flex;
        gap: 2px;
        /* border: var(--border-debug); */
        justify-content: center;
        align-items: center;
        background-color: var(--color-pink);
        border-radius: 8px;
        height: 48px;
        margin-bottom: 16px;
        text-align: center;
        color: white;
        cursor: pointer;
        width: 100%;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

        
    }
    .all-ads-container__right h1 {
        font-size: 34px;
        text-align: left;
       
    }
    .all-ads-container__right h4{
        margin-bottom: 30px;
        text-decoration: underline;
        display: block;
        width: 80vw;

    }
    .ad-mini{
        width: 100%;
        height: 45vh;
        margin-bottom: 30px;
    }
    .search-mobile{
        display: flex;
        /* border: var(--border-debug); */
        justify-content: space-between;
        align-items: center;
        
    }
    .search-mobile__back{
        color: var(--color-main);
        cursor: pointer;
    }
    .search-mobile__head{
        font-size: 24px;
    }
    .search-clear{
        display: none;
    }
    .search-mobile__clear{
        font-size: 20px;
        cursor: pointer;
        color: var(--color-main);
    }
    .showResults{
        display: flex;
        background-color: var(--color-main);
        border-radius: 8px;
        width: 100%;
        height: 46px;
        color: white;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    }
    .showResults h3{
        color: white;
        text-align: center;
    }
    
   
    
}
@media (max-width:970px) and (max-height:500px) {
    /* .navbar{
        background-color: #FFCC81;
    } */
    .hero-container{
        height: 100vh;
    }
    .hero-img{
        background-position: bottom;
        height: 100%;
    }
    
}
@media (max-width:655px){
    :root{
        --gap: 1.4vw;
        --padding: 1.5vw;
        /* --fraction: 6.216vw */
    }
    .hero-container{
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }
    .text-container{
        margin-top: 3vh;
    }
    .hero-header{
        text-align: center;
        font-size: 30px;
       
    }
    .hero-paragraph{
       display: none;
    }
    .hero-paragraph__sm{
    margin-top: 2vh;
  
    display: block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.485em;
   
    }
   
    .btn-join {
        display: none;
    }
    .btn-heart{
        display: block;
        height: 40vw;
        width: 40vw;
         background: url(../img/join-btn.svg);
   
         background-size: contain;
         background-repeat: no-repeat;
         margin: 2vh auto 0 auto;
         cursor: pointer;
         /* border: 1px solid black; */
    }
    .hero-column__right{
        width: 100vw;
        height: 60vh
       
    }
    .hero-column__left{
        width: 100vw;
        padding: 0 var(--padding);
        height: auto;
        /* border: 1px solid black; */

      
    }
    .hero-img{
        background: url(../img/hero-sm.svg);
        background-size:contain;
        background-repeat: no-repeat;
       background-position:bottom;
       /* height: calc((100vh - 56px - 70px) / 2 ); */
       height:100%;
       /* border: 1px solid black; */
    }
    /* .buttons{
         width: calc((4 * var(--fraction)) + (4 * var(--gap))); ;
    }
    .hamburger{
        width: calc(var(--fraction) + var(--gap));
    }
    .btn{
        width: calc((3 * var(--fraction)) + (2 * var(--gap)));
    }
     */
     /* .btn-text{
        font-size: calc(0.4 * var(--fraction));

      
     }  */
    /* .navbar{
        background-color: red;
    } */
    .form-outer{
        width: 90vw;
    }
    .form{
        width: 80%;
    }
    .form-navigation-btn{
        width: 25vw;
    }
    
    .radio-wrap > label{
        font-size: 16px;
    }
    .form-navigation-btn__submit{
        font-size: 16px;
    }
    .progress-bar{
        height: 5vh;
    }
    .progress-bar__progress{
        height: 5vh;

    }
    .description h3{
        margin-top: 4vh;
    }
    .chat__noselection{
        font-size: 16px;
        margin: 5px auto;
        position:relative;
        top: 0;
        left: 0;
        width: 100%;
       
        /* border: 1px solid black; */
        text-align: center;
    }
    .chat-channel__date{
        display: none;
    }
    .chat-test{
        width: 90%;
        /* height: 10%; */
        /* border: 1px solid black; */
    }
    .chat-testy-from_user{
        justify-content: right;

    }
    .chat-test-messages{
        width: 60%;
        /* height: 70%; */
        /* border: 5px solid red; */
    }
    .chat-body{
         height: 3%; 
        width: 100%; 
        /* display: none; */
        /* border: 1px solid red; */
    }
    .chat-container__left{
        /* display: none; */
        width: 100%;
    }
    .chat-close{
        display: block;
        cursor: pointer;
        color: var(--color-navy);
        font-size: 22px;
       
    }
    
}

/* @media (max-width:800px){
    :root{
        --gap: 1.3vw;
        --padding: 2vw;
        --fraction: calc(((100vw - 2 * var(--padding)) / 10) - var(--gap) )

    }
    
    
} */
@media (max-width:500px){
    :root{
        --gap: 1.3vw;
        --padding: 2vw;
        --fraction: calc(((100vw - 2 * var(--padding)) - (5 * var(--gap))) / 6)
    }
    .navbar-container{
        width: 100vw;
       
    }

    .buttons{
        width: 80px;
        
        position: relative;
       
    }
    .btn-create{
       display: none;
    }
    .btn-create__mobile{
        display: block;
       
       
        margin-left: -30px;
        width: 40px;
       
       
       
      

    }
    .btn-plus{
        /* margin-top: -15px; */
        font-size: 40px;
        line-height: 1;
        font-weight: 900;
        text-align: center;
      

    }
    .hero-img{
        background: url(../img/hero-sm.svg);
        background-size:contain;
        background-repeat: no-repeat;
       background-position:bottom;
       height: calc((100vh - 56px - 70px) / 2 );
       height: 60vh;
       /* border: 1px solid black; */
       /* margin-top: 2vh; */
    }
    .form-step{
        /* border: 2px solid black; */
        /* width: 75vw; */
    }
    .form-navigation-btn{
        width: 28vw;
    }
    
    .radio-wrap > label{
        font-size: 14px;
    }
    .form-navigation-btn__submit{
        font-size: 16px;
    }
    .carousel-container{
        width: calc((6 * var(--fraction)) + 5 * var(--gap) );
        
        
        
    
    }
    .chat-container{
        width: calc(100vw - (2* var(--padding)));
        height: 90vh;
        background-color: white;
        /* overflow: scroll; */
        /* position: relative; */
        display: flex;
        margin: 3vh auto;
        gap: var(--gap);
        padding: 16px;
        border-radius: 16px;
        border: 4px solid var(--color-navy);
       
    }
    .chat-container__left{
        width: 100%;
        height: 100%;
       
       
       
    }
    .chat-container__right{
        width: 100%;
        /* border: var(--border-debug); */
       
        
       
    }
  
    
  
    
    
}




