<% layout('layout/boilerplate') %>

    <!-- <h5>Login</h5>
    <form action="/login" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required autofocus>

        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

        </div>
        <button>Login</button>
    </form> -->
    <div class="form-container">
        <div class="form-outer">
            <div class='form-inner'>
                <form class="form" action="/login" method="POST">
                    <h2 class="">LOGIN </h2>
                    <div class="form-fields">

                        <div class="form-field">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" required autofocus>

                        </div>




                        <div class="form-field">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>

                        </div>

                    </div>

                    <button class="btn btn-text">LOGIN</button>
                </form>

            </div>
        </div>


    </div>